.abc
{
	color:#FFF;
}

#iddd
{
	color:#633; 	
}
button
{
	margin-left:150px;
	border-radius:5px;
}
#reset
{
	margin-left:15px;
}

<!--  Second Form Submit Successfull -->

#line
{
	color:#306;
	font-size:18px;
}
#techlogo
{
	margin-left:50px;
}