.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#03F;
	color:#FFF;
	flex-wrap:wrap;
}
 .one {
	margin-left:80px;
	padding:10px;
	text-align:center;
	    width: 250px;

}
.two {
	padding:10px;
	text-align:center;
}
.three {
	margin-right:40px;
	padding:10px;
	    width: 350px;

}


<!--- ---->
<!--- ---->

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  background-color:#FFF;
}


<!--   ---->
<!--   ---->






<!--  --->
.lastsection
{
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
	background-color:#FFF;
}
.last1
{
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
	background-color:#FFF;

}

.mains1
{
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
	margin-top:40px;
	
}

<!-- ---->
.col1,.col2,.col3,.col4,.col5
{
	   width:220px 
}


.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0000FF;
   color: white;
   text-align: center;
}